<div class="container">
  <div class="row row1">
    <div class="col-md-3">
      <h6>COMPANY</h6>
      <p>About us</p>
      <p>Team</p>
      <p>Careers</p>
      <p>Swiggy Blog</p>
      <p>Bug Bounty</p>
      <p>Swiggy Pop</p>
      <p>Swiggy Super</p>
      <p>Swiggy Daily</p>
    </div>

    <div class="col-md-3">
      <h6>CONTACT</h6>
      <p>Help & Support</p>
      <p>Partner with us</p>
      <p>Ride with us</p>
    </div>

    <div class="col-md-3">
      <h6>LEGAL</h6>
      <p>Terms & Conditions</p>
      <p>Refund and Cancellation</p>
      <p>Privacy Policy</p>
      <p>Cookie Policy</p>
      <p>Offer Terms</p>
    </div>

    <div class="icons2">
      <a href="#">
        <img class="icon1" src="../../assets/img/googleplay.png" />
      </a>
      <a href="#">
        <img class="icon2" src="../../assets/img/iOS_ajgrty.png" />
      </a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <img class="swiggyfoot" src="../../assets/img/swiggyfoot.png" />
    </div>
    <div class="col-md-4">
      <h4>&copy; 2020 Swiggy</h4>
    </div>
    <div class="col-md-4 footsocial">
      <a href="#">
        <img class="logo" src="../../assets/img/fb.png" />
      </a>
      <a href="#">
        <img class="logo" src="../../assets/img/pin.png" />
      </a>
      <a href="#">
        <img class="logo " src="../../assets/img/insta.png" />
      </a>
      <a href="#">
        <img class="logo" src="../../assets/img/twitter.png" />
      </a>
    </div>
  </div>
</div>
