<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Restaurants in your pocket</h1>
      <h4>
        Order from your favorite restaurants & track on the go, with the all-new
        Swiggy app.
      </h4>
      <div class="icons">
        <img src="../../assets/img/googleplay.png" />
        <img class="icon1" src="../../assets/img/iOS_ajgrty.png" />
      </div>
    </div>

    <div class="col-md-4 img1">
      <img src="../../assets/img/phone1.png" />
    </div>

    <div class="col-md-4 ">
      <img class="img2" src="../../assets/img/phone2.png" />
    </div>
  </div>
</div>
