<div class="row">
  <div class="col-md-4 mt-2">
    <img src="../../assets/img/4x_-_No_min_order_x0bxuf.png" class="img1" />
    <span class="content-1">
      <h3>No Minimum Order</h3>
      <p>
        Order in for yourself or for the group, with no restrictions on order
        value
      </p>
    </span>
  </div>

  <div class="col-md-4 mt-2">
    <img src="../../assets/img/4x_Live_order_zzotwy.png" class="img1" />
    <span class="content-2">
      <h3>Live Order Tracking</h3>
      <p>
        Know where your order is at all times, from the restaurant to your
        doorstep
      </p>
    </span>
  </div>

  <div class="col-md-4 mt-2">
    <img
      src="../../assets/img/4x_-_Super_fast_delivery_awv7sn.png"
      class="img1"
    />
    <span class="content-3">
      <h3>Lightning-Fast Delivery</h3>
      <p>
        Experience Swiggy's superfast delivery for food delivered fresh & on
        time
      </p>
    </span>
  </div>
</div>
